URxvt.font: xft:Input Mono:style=Regular:size=10
URxvt.boldFont: xft:Input Mono:style=Bold:size=10
URxvt.italicFont: xft:Input Mono:style=Italic:size=10
URxvt.boldItalicfont: xft:Input Mono:style=Bold Italic:size=10
URxvt.scrollBar: false
URxvt.internalBorder: 12
URxvt.externalBorder: 0
URxvt.depth: 32
URxvt.borderColor: rgba:00ff/00ff/00ff/aa00
